.countdown {
  margin: 10px auto;
  padding-bottom: 20px;
}

.countdownCol {
  display: inline-block;
}

.countdownColElement {
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.countdownColElement strong {
  font-size: 50px;
}
