@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: lighter;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f7797d),
      to(#fbd786)
    )
    fixed;
}
